<h1>Formulas for Final Data Calculations</h1>

In [67]:
import pandas as pd

# Reads the csv files we previously made

drugs = pd.read_csv("Possesions.csv", sep=",")
arrests = pd.read_csv("sortedArrestData.csv", sep=",")
money = pd.read_csv("money.csv", sep=",")

# Sorts the dataframes by Location to ensure they all match up

drugs = drugs.sort_values(by=['Location'],ascending=True)
arrests = arrests.sort_values(by=['Locations'],ascending=True)
money = money.sort_values(by=['Neighborhood'],ascending=True)

In [68]:

# Isolates the locations into lists

moneyLoc = money['Neighborhood'].tolist()
drugLoc = drugs['Location'].tolist()
arrestLoc = arrests['Locations'].tolist()      

# Turns each list into lowercase

moneyLoc = [str(x).lower() for x in moneyLoc]
drugLoc = [str(x).lower() for x in drugLoc]
arrestLoc = [str(x).lower() for x in arrestLoc]

# Sorts the dataframes

moneyLoc.sort()
drugLoc.sort()
arrestLoc.sort()

# Makes a list of all of the locations that are in all of the databases

locList = []
for each in moneyLoc:
    if each in moneyLoc and each in arrestLoc and each in drugLoc:
        locList.append(each)

In [69]:
# Creates three empty lists to use for holding values

moneyList = []
arrestsList = []
drugsList = []

# Checks if the location from the income data matches a location in the location list, then adds it to the previously made list

for x in range(len(money)):
    if locList.__contains__((money.iat[x,0]).lower()):
        moneyList.append(money.iat[x,1])

# Checks if the location from the arrests data matches a location in the location list, then adds it to the previously made list

for x in range(len(arrests)):
    if locList.__contains__((arrests.iat[x,0]).lower()):
        arrestsList.append(arrests.iat[x,1])

# Checks if the location from the police data matches a location in the location list, then adds it to the previously made list

for x in range(len(drugs)):
    if locList.__contains__((drugs.iat[x,0]).lower()):
        drugsList.append(drugs.iat[x,1])

# Zips all of the lists into 1 single dataframe

formulaDF = pd.DataFrame(list(zip(locList, moneyList, arrestsList, drugsList)), columns =['Location', 'People who earned above $200K/month', 'Number of Arrests', 'Number of Drug Possesions'])

In [70]:
# Calculating Total Drug Points

pointsList = []

# Calculates the mean number of arrests to use for the formula

meanArrests = formulaDF[["Number of Arrests"]].mean().item()

# Iterates through the dataframe

for row in formulaDF.itertuples():

    income = getattr(row,'_2')
    arrests = getattr(row,'_3')
    possesions = getattr(row,'_4')

    # Calculates its Drug Points based off of the formula

    pointsList.append(round(((0.5 * income) + (2 * possesions)) * (meanArrests/arrests),3))


# Adds the drug points to the data frame

formulaDF["Drug Points"] = pointsList

# Sorts the dataframe by drug points

formulaDF = formulaDF.sort_values(by=['Drug Points'],ascending=False)

In [71]:
# Reveals the best neighborhood

formulaDF.head()

,Location,People who earned above $200K/month,Number of Arrests,Number of Drug Possesions,Drug Points
11,central northside,64.0,23,42,2949.174
46,squirrel hill north,935.0,252,27,1210.108
42,regent square,53.0,32,11,886.262
48,st. clair,0.0,45,31,805.656
39,point breeze,482.0,283,32,630.208

In [72]:
# Reveals the worst neighborhood

formulaDF.tail()

,Location,People who earned above $200K/month,Number of Arrests,Number of Drug Possesions,Drug Points
18,glen hazel,0.0,143,4,32.713
7,bon air,0.0,230,6,30.509
32,mount washington,117.0,1280,3,29.466
13,crawford-roberts,17.0,734,9,21.112
30,marshall-shadeland,0.0,1332,8,7.024