<h1> Household Income in PA </h1>

In [2]:
import pandas as pd

In [5]:
##Here, we are reading the data from the csv file
income = pd.read_csv("income.csv", sep=",")

##Here, we are making a seperate dataframe that contains just the Neighborhoods and the number of high income households
money = income[["Neighborhood", "Estimate; Total: - $200,000 or more"]]

##This throws out all of the NaN values in the dataframe and converts it to a csv file
money = money.dropna()
money.to_csv("money.csv", index=False)

In [6]:
##Displays the head and tail of the dataframe
display(money)

           Neighborhood  Estimate; Total: - $200,000 or more
0      Allegheny Center                                 21.0
1        Allegheny West                                 21.0
2             Allentown                                  3.0
3             Arlington                                  2.0
4     Arlington Heights                                  0.0
..                  ...                                  ...
86  Upper Lawrenceville                                 14.0
87             West End                                  0.0
88         West Oakland                                  0.0
89             Westwood                                 10.0
90              Windgap                                  0.0

[91 rows x 2 columns]

<h2> What does this mean? </h2>

The data above shows us that Allegheny Center has the most households in Allegheny County, PA that have a high income. 

The data also shows us that Windgap has the lowest amount of households in Allegheny County that have a high income.

From the data, we can conclude that Allegheny Center is the neighborhood that would have the most disposable income to spend on drugs. 

The location and income data will be used in our final formula to calculate the best location to do drugs in Allegheny County.